<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>MagiGift</title>
    <link rel="stylesheet" href="css/components.css">
    <link rel="stylesheet" href="css/responsee.css">
    <link rel="stylesheet" href="owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="css/template-style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext'
          rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.js"></script>
    <script type="text/javascript" src="js/modernizr.js"></script>
    <script type="text/javascript" src="js/responsee.js"></script>
    <script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="js/template-scripts.js"></script>
    <script type="text/javascript" src="js/magigiftAngularJs.js"></script>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
</head>
<body class="size-1140" ng-app="myApp" ng-controller="myCtrl">
<!-- TOP NAV WITH LOGO -->
<header>
    <div id="topbar">
        <div class="line">
            <div class="s-12 m-6 l-6">
                <p>CONTACT US: <strong>magiGiftTeam@gmail.com</strong></p>
            </div>
            <div class="s-12 m-6 l-6">
                <div class="social right">
                    <a><i class="icon-facebook_circle"></i></a> <a><i class="icon-twitter_circle"></i></a> <a><i
                        class="icon-google_plus_circle"></i></a> <a><i class="icon-instagram_circle"></i></a>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="line">
            <div class="s-12 l-2">
                <p class="logo line">

                <div class="s-1 l-3">
                    <img src="img/logo.png" class="logoImg">
                </div>
                <div class="s-11 l-9" style="height: 75px;">
                    <span class="logoText"><strong>Magi</strong>Gift</p></span>
                </div>
            </div>
            <div class="top-nav s-12 l-10 offset-fix">
                <p class="nav-text">Menu</p>
                <ul class="right">
                    <li class="active-item"><a href="#carousel">Home</a></li>
                    <li><a href="#find-gift">Find A Gift</a></li>
                    <li><a href="#about-us">About Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<section>
    <!-- CAROUSEL -->
    <div id="carousel">
        <div id="owl-demo" class="owl-carousel owl-theme">
            <div class="item">
                <img src="img/giftC.jpg" alt="">
                <div class="line">
                    <div class="text hide-s">
                        <div class="line">
                            <div class="prev-arrow hide-s hide-m">
                                <i class="icon-chevron_left"></i>
                            </div>
                            <div class="next-arrow hide-s hide-m">
                                <i class="icon-chevron_right"></i>
                            </div>
                        </div>
                        <h2>Let Us Help You</h2>
                        <p>Finding a gift for a loved one or a friend can be hard,
                            especially when you are not sure what you are looking for.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="img/giftB.jpg" alt="">
                <div class="line">
                    <div class="text hide-s">
                        <div class="line">
                            <div class="prev-arrow hide-s hide-m">
                                <i class="icon-chevron_left"></i>
                            </div>
                            <div class="next-arrow hide-s hide-m">
                                <i class="icon-chevron_right"></i>
                            </div>
                        </div>
                        <h2>It Is So EASY</h2>
                        <p>You enter the key qualities of the person and the maximum budget,
                            our app searches the web for the most compatible gift.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="img/giftD.jpg" alt="">
                <div class="line">
                    <div class="text hide-s">
                        <div class="line">
                            <div class="prev-arrow hide-s hide-m">
                                <i class="icon-chevron_left"></i>
                            </div>
                            <div class="next-arrow hide-s hide-m">
                                <i class="icon-chevron_right"></i>
                            </div>
                        </div>
                        <h2>We Have So Much To Offer</h2>
                        <p>MagiGift contains a large number of products which constantly updates from
                            several shopping websites.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIRST BLOCK -->
    <div id="first-block">
        <div class="line">
            <h1>Start Searching Now!</h1>
            <p>It will only take you a few minutes</p>
            <div class="s-12 m-4 l-2 center offset-fix">
                <a class="white-btn" href="#find-gift">Lets Find A Gift</a>
            </div>
        </div>
    </div>
    <!-- find gift -->
    <div id="find-gift">
        <div id="gender" class="doNotShow">
            <div class="line">
                <div class="s-12 m-12 l-12 text-center">
                    <h2>
                        Pick Recipient's Gender
                    </h2>
                </div>
            </div>
            <div class="line">
                <div class="margin offset-fix">
                    <div class="s-12 m-6 l-offset-3 l-3 margin-bottom  gender-female">
                        <div class="imageWrapper">
                            <a href="#general" ng-click="genderChange('female')">
                                <img src="img/female.jpg">
                                <div class="imageLabel">Female</div>
                            </a>
                        </div>
                    </div>
                    <div class="s-12 m-6 l-3 margin-bottom gender-male">
                        <div class="imageWrapper">
                            <a href="#general" ng-click="genderChange('male')">
                                <img src="img/male.jpg">
                                <div class="imageLabel">Male</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="general" class="doNotShow">
            <div class="line">
                <form class="customform">
                    <div class="s-12 m-12 l-12 text-center">
                        <h2>
                            Tell us some more..</span>
                        </h2>
                    </div>
                    <div class="s-12 m-12 l-12">
                        <!--<div class="line center top-bottom-margin">-->
                            <!--<div class="s-12 m-offset-2 m-4 l-offset-4 l-2 input-align text-center">-->
                                <!--Age-->
                            <!--</div>-->
                            <!--<div class="s-12 m-4 l-2 text-center">-->
                                <!--<input type="number" placeholder="Enter recipient's age">-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="line top-bottom-margin">
                            <div class="s-12 m-offset-2 m-4 l-offset-4 l-2 input-align text-center">
                                Price range
                            </div>
                            <div class="s-6 m-2 l-1 text-center">
                                <input type="number" class="inputRoundedRight" ng-model="minPrice" placeholder="Min price">
                            </div>
                            <div class="s-6 m-2 l-1 text-center">
                                <input type="number" class="inputRoundedLeft" ng-model="maxPrice"  placeholder="Max price">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="line top-bottom-margin">
                    <div class="s-12 m-4 l-2 center offset-fix">
                        <a class="white-btn" href="#personality">Next >></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="personality" class="doNotShow">
            <!-- Sport lover category -->
            <div id="Sport" class="line categorySection">
                <div class="s-12 m-offset-3 m-6 l-offset-2 l-3 text-center">
                    <div class="imageWrapperCategory">
                        <img class="genderChange" src="img/femaleSport.jpg">
                        <div class="imageLabelCategory">Sport Lover</div>
                    </div>
                </div>
                <div class="s-12 m-12 l-5 centerVerticalCategory text-center">
                    <div class="line">
                        <div class="radio-toolbar">
                            <div class="s-offset-1 s-2 m-offset-3 m-1 l-2 ">
                                <input type="radio" id="Sport1" name="Sport" value="all" checked>
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Sport2" name="Sport" value="false">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Sport3" name="Sport" value="true">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Sport4" name="Sport" value="true">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Sport5" name="Sport" value="true">

                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="s-offset-1 s-2 m-offset-3 m-1 l-2">
                            <label for="Sport1">1 <br> Not so much</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Sport2">2</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Sport3">3</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Sport4">4</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Sport5">5 <br> really do</label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Outdoors lover category -->
            <div id="Outdoors" class="line categorySection">
                <div class="s-12 m-offset-3 m-6 l-offset-2 l-3 text-center">
                    <div class="imageWrapperCategory">
                        <img class="genderChange" src="img/femaleOutdoors.jpg">
                        <div class="imageLabelCategory">Loves Outdoors</div>
                    </div>
                </div>
                <div class="s-12 m-12 l-5 centerVerticalCategory text-center">
                    <div class="line">
                        <div class="radio-toolbar">
                            <div class="s-offset-1 s-2 m-offset-3 m-1 l-2 ">
                                <input type="radio" id="Outdoors1" name="Outdoors" value="all" checked>
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Outdoors2" name="Outdoors" value="false">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Outdoors3" name="Outdoors" value="true">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Outdoors4" name="Outdoors" value="true">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Outdoors5" name="Outdoors" value="true">

                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="s-offset-1 s-2 m-offset-3 m-1 l-2">
                            <label for="Outdoors1">1 <br> Not so much</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Outdoors2">2</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Outdoors3">3</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Outdoors4">4</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Outdoors5">5 <br> really do</label>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Creative lover category -->
            <div id="Creative" class="line categorySection">
                <div class="s-12 m-offset-3 m-6 l-offset-2 l-3 text-center">
                    <div class="imageWrapperCategory">
                        <img class="genderChange" src="img/femaleCreative.jpg">
                        <div class="imageLabelCategory">Creative</div>
                    </div>
                </div>
                <div class="s-12 m-12 l-5 centerVerticalCategory text-center">
                    <div class="line">
                        <div class="radio-toolbar">
                            <div class="s-offset-1 s-2 m-offset-3 m-1 l-2 ">
                                <input type="radio" id="Creative1" name="Creative" value="all" checked>
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Creative2" name="Creative" value="false">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Creative3" name="Creative" value="true">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Creative4" name="Creative" value="true">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Creative5" name="Creative" value="true">

                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="s-offset-1 s-2 m-offset-3 m-1 l-2">
                            <label for="Creative1">1 <br> Not so much</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Creative2">2</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Creative3">3</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Creative4">4</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Creative5">5 <br> really do</label>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Cooking lover category -->
            <div id="Cooking" class="line categorySection">
                <div class="s-12 m-offset-3 m-6 l-offset-2 l-3 text-center">
                    <div class="imageWrapperCategory">
                        <img class="genderChange" src="img/femaleCooking.jpg">
                        <div class="imageLabelCategory">Loves Cooking</div>
                    </div>
                </div>
                <div class="s-12 m-12 l-5 centerVerticalCategory text-center">
                    <div class="line">
                        <div class="radio-toolbar">
                            <div class="s-offset-1 s-2 m-offset-3 m-1 l-2 ">
                                <input type="radio" id="Cooking1" name="Cooking" value="all" checked>
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Cooking2" name="Cooking" value="false">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Cooking3" name="Cooking" value="true">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Cooking4" name="Cooking" value="true">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Cooking5" name="Cooking" value="true">

                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="s-offset-1 s-2 m-offset-3 m-1 l-2">
                            <label for="Cooking1">1 <br> Not so much</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Cooking2">2</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Cooking3">3</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Cooking4">4</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Cooking5">5 <br> really do</label>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Fashion lover category -->
            <div id="Fashion" class="line categorySection">
                <div class="s-12 m-offset-3 m-6 l-offset-2 l-3 text-center">
                    <div class="imageWrapperCategory">
                        <img class="genderChange" src="img/femaleFashion.jpg">
                        <div class="imageLabelCategory">Loves Fashion</div>
                    </div>
                </div>
                <div class="s-12 m-12 l-5 centerVerticalCategory text-center">
                    <div class="line">
                        <div class="radio-toolbar">
                            <div class="s-offset-1 s-2 m-offset-3 m-1 l-2 ">
                                <input type="radio" id="Fashion1" name="Fashion" value="all" checked>
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Fashion2" name="Fashion" value="false">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Fashion3" name="Fashion" value="true">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Fashion4" name="Fashion" value="true">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Fashion5" name="Fashion" value="true">

                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="s-offset-1 s-2 m-offset-3 m-1 l-2">
                            <label for="Fashion1">1 <br> Not so much</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Fashion2">2</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Fashion3">3</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Fashion4">4</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Fashion5">5 <br> really do</label>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Electronics lover category -->
            <div id="Electronics" class="line categorySection">
                <div class="s-12 m-offset-3 m-6 l-offset-2 l-3 text-center">
                    <div class="imageWrapperCategory">
                        <img class="genderChange" src="img/femaleElectronics.jpg">
                        <div class="imageLabelCategory">Electronics</div>
                    </div>
                </div>
                <div class="s-12 m-12 l-5 centerVerticalCategory text-center">
                    <div class="line">
                        <div class="radio-toolbar">
                            <div class="s-offset-1 s-2 m-offset-3 m-1 l-2 ">
                                <input type="radio" id="Electronics1" name="Electronics" value="all" checked>
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Electronics2" name="Electronics" value="false">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Electronics3" name="Electronics" value="true">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Electronics4" name="Electronics" value="true">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Electronics5" name="Electronics" value="true">

                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="s-offset-1 s-2 m-offset-3 m-1 l-2">
                            <label for="Electronics1">1 <br> Not so much</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Electronics2">2</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Electronics3">3</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Electronics4">4</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Electronics5">5 <br> really do</label>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Party lover category -->
            <div id="Party" class="line categorySection">
                <div class="s-12 m-offset-3 m-6 l-offset-2 l-3 text-center">
                    <div class="imageWrapperCategory">
                        <img class="genderChange" src="img/femaleParty.jpg">
                        <div class="imageLabelCategory">Party Animal</div>
                    </div>
                </div>
                <div class="s-12 m-12 l-5 centerVerticalCategory text-center">
                    <div class="line">
                        <div class="radio-toolbar">
                            <div class="s-offset-1 s-2 m-offset-3 m-1 l-2 ">
                                <input type="radio" id="Party1" name="Party" value="all" checked>
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Party2" name="Party" value="false">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Party3" name="Party" value="true">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Party4" name="Party" value="true">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Party5" name="Party" value="true">

                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="s-offset-1 s-2 m-offset-3 m-1 l-2">
                            <label for="Party1">1 <br> Not so much</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Party2">2</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Party3">3</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Party4">4</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Party5">5 <br> really do</label>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Books lover category -->
            <div id="Books" class="line categorySection">
                <div class="s-12 m-offset-3 m-6 l-offset-2 l-3 text-center">
                    <div class="imageWrapperCategory">
                        <img class="genderChange" src="img/femaleBooks.jpg">
                        <div class="imageLabelCategory">Loves Books</div>
                    </div>
                </div>
                <div class="s-12 m-12 l-5 centerVerticalCategory text-center">
                    <div class="line">
                        <div class="radio-toolbar">
                            <div class="s-offset-1 s-2 m-offset-3 m-1 l-2 ">
                                <input type="radio" id="Books1" name="Books" value="all" checked>
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Books2" name="Books" value="false">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Books3" name="Books" value="true">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Books4" name="Books" value="true">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Books5" name="Books" value="true">

                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="s-offset-1 s-2 m-offset-3 m-1 l-2">
                            <label for="Books1">1 <br> Not so much</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Books2">2</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Books3">3</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Books4">4</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Books5">5 <br> really do</label>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Gamer lover category -->
            <div id="Gamer" class="line categorySection">
                <div class="s-12 m-offset-3 m-6 l-offset-2 l-3 text-center">
                    <div class="imageWrapperCategory">
                        <img class="genderChange" src="img/femaleGamer.jpg">
                        <div class="imageLabelCategory">Gamer</div>
                    </div>
                </div>
                <div class="s-12 m-12 l-5 centerVerticalCategory text-center">
                    <div class="line">
                        <div class="radio-toolbar">
                            <div class="s-offset-1 s-2 m-offset-3 m-1 l-2 ">
                                <input type="radio" id="Gamer1" name="Gamer" value="all" checked>
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Gamer2" name="Gamer" value="false">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Gamer3" name="Gamer" value="true">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Gamer4" name="Gamer" value="true">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Gamer5" name="Gamer" value="true">

                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="s-offset-1 s-2 m-offset-3 m-1 l-2">
                            <label for="Gamer1">1 <br> Not so much</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Gamer2">2</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Gamer3">3</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Gamer4">4</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Gamer5">5 <br> really do</label>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Animals lover category -->
            <div id="Animals" class="line categorySection">
                <div class="s-12 m-offset-3 m-6 l-offset-2 l-3 text-center">
                    <div class="imageWrapperCategory">
                        <img class="genderChange" src="img/femaleAnimals.jpg">
                        <div class="imageLabelCategory">Animals Lover</div>
                    </div>
                </div>
                <div class="s-12 m-12 l-5 centerVerticalCategory text-center">
                    <div class="line">
                        <div class="radio-toolbar">
                            <div class="s-offset-1 s-2 m-offset-3 m-1 l-2 ">
                                <input type="radio" id="Animals1" name="Animals" value="all" checked>
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Animals2" name="Animals" value="false">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Animals3" name="Animals" value="true">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Animals4" name="Animals" value="true">
                            </div>

                            <div class="s-2 m-1 l-2">
                                <input type="radio" id="Animals5" name="Animals" value="true">

                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="s-offset-1 s-2 m-offset-3 m-1 l-2">
                            <label for="Animals1">1 <br> Not so much</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Animals2">2</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Animals3">3</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Animals4">4</label>
                        </div>
                        <div class="s-2 m-1 l-2">
                            <label for="Animals5">5 <br> really do</label>
                        </div>
                    </div>

                </div>
            </div>

            <div class="s-12 m-4 l-2 center offset-fix categorySection">
                <a class="white-btn top-margin" href="#search-result" ng-click="generateResults()">Search Now</a>
            </div>
        </div>
    </div>

    <div id="search-result">
    <div id="search-results" ng-show="loadGifts">
        <h1 class='text-center white-color'>Our Results</h1>

        <div class="line" ng-repeat="gift in gifts">
            <div class="s-12 m-offset-1 m-10 l-offset-1 l-10">
                <a href="{{gift.ViewItemURLForNaturalSearch}}">
                    <div class="line single-product">
                        <div class="s-offset-1 s-10 m-offset-1 m-10 l-3">
                            <img class="product-image" src="{{gift.PictureURL[0]}}">
                        </div>
                        <div class="s-offset-1 s-10 m-offset-1 m-10 l-7 product-description">
                            <h3 class="product-title">{{gift.Title}}</h3>
                            <p>{{gift.Description | limitTo: 100 }}{{gift.Description.length > 20 ? '...' : ''}}</p>
                        </div>
                        <div class="s-offset-1 s-10 m-offset-1 m-10 l-2">
                    <span class="iconWrapper">
                        <span class="fa fa-money"></span>
                    <span class="iconText">
                        {{gift.ConvertedCurrentPrice.amount}}
                    </span>
                </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class='line'>
            <h2 class='text-center'>Want to search another gift?</h2>
            <div class='s-12 m-4 l-2 center offset-fix'>
                <a class='white-btn' href='#find-gift'>click here</a>
            </div>
        </div>


    </div>
    </div>

    <div class="modalWait doNotShow">
        <div id="TextPos">
            <h1 class="white-color">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw larger-font"></i>
                We're working on it..
            </h1>
        </div>
    </div>
    <!-- ABOUT US -->
    <div id="about-us">
        <div class="line">
            <h2 class="section-title">About Us</h2>
            <div class="margin">
                <div class="s-12 m-12 l-3 hide-m hide-s margin-bottom right-align">
                    <img src="img/contact.jpg" alt="">
                </div>
                <div class="s-12 m-12 l-4 margin-bottom right-align">
                    <h3>Team 40 - Final Project</h3>
                    <address>
                        <p><strong>Supervisor - Nethanel Gelernter</strong></p>
                        <p><strong>Raz Ingber</strong> raz235@gmail.com</p>
                        <p><strong>Maayan Fael</strong> maayanfael@gmail.com</p>
                        <p><strong>Harel Gelberg</strong> Harelg94@gmail.com</p>
                    </address>
                    <br/>
                    <h3>Social</h3>
                    <p><i class="icon-facebook icon"></i> <a
                            href="https://www.facebook.com/p">
                        MagiGift</a></p>
                </div>
                <div class="s-12 m-12 l-5">
                    <h3>Contact Us</h3>
                    <form class="customform" action="">
                        <div class="s-12"><input name="" placeholder="Your e-mail" title="Your e-mail" type="text"/>
                        </div>
                        <div class="s-12"><input name="" placeholder="Your name" title="Your name" type="text"/></div>
                        <div class="s-12"><textarea placeholder="Your massage" name="" rows="5"></textarea></div>
                        <div class="s-12 m-12 l-4">
                            <button class="color-btn" type="submit">Submit Button</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- FOOTER -->
<footer>
    <div class="line">
        <div class="s-12 l-6">
            <p>Copyright 2015, Vision Design - graphic zoo</p>
        </div>
        <div class="s-12 l-6">
            <a class="right" href="http://www.myresponsee.com" title="Responsee - lightweight responsive framework">Design
                and coding<br> by Responsee Team</a>
        </div>
    </div>
</footer>
</body>
</html>